body{
  background-color: rgb(17, 16, 16);
}

header{
    background-color:rgb(204, 196, 196);
}

.intro{
    width:100%;
    height: 50%;
    
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    
}
.texting{

    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}
#first{
    font-family: 'Otomanopee One', sans-serif;
    color: seashell;
    font-size: xx-large;
    margin-bottom: 3%;
}
#second{
    font-family: 'Noto Sans TC', sans-serif;
    color:seashell;
    font-size: x-large;
}
.pic{
    margin-right:5%;
}

.edu{
    margin-top: 3%;
    
    border-radius: 2%;
    width: 90%;
    height:50%;
    margin-left:5%;
    background-color: rgb(179, 178, 178);
}

ul.a{
    list-style-type: disc;
    padding-left: 20%;
    padding-top:3%;
    width:70%;
    font-size:150%;
    font-family: 'Josefin Sans', sans-serif;
    justify-content: center;
    line-height: 200%;
    padding-bottom: 07%;
}

#eduhead{
    font-size:200%;
    font-family: 'Libre Baskerville', serif;
    font-weight: bolder;
    padding-top: 3%;
    
}



#skillhd{
    font-size:200%;
    font-family: 'Libre Baskerville', serif;
    font-weight: bolder;
    padding-top: 3%;
    color: whitesmoke;
    margin-bottom: 2%;
}

.progress {
    width: 150px;
    margin-left: 12%;
    height: 150px !important;
    float: left;
    line-height: 150px;
    margin-bottom: 3%;
    margin-top: 20px;
    box-shadow: none;
    position: relative
  }
  
  .progress:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 12px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
    
  }
  
  .progress>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
    
  }
  
  .progress .progress-left {
    left: 0;
  }
  
  .progress .progress-bar {
    width: 100%;
    height: 100%;
    
    border-width: 12px;
    border-style: solid;
    position: absolute;
    top: 0;
  }
  
  .progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
    
  }
  
  .progress .progress-right {
    right: 0
  }
  
  .progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
  }
  
  .progress .progress-value {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #000;
    font-size: 24px;
    color: #fff;
    line-height: 135px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%
  }
  
  .progress.blue .progress-bar {
    border-color: #049dff
  }
  
  .progress.blue .progress-left .progress-bar {
    animation: loading-2 1.5s linear forwards 1.8s
  }
  
  .progress.yellow .progress-bar {
    border-color: #fdba04
  }
  
  .progress.yellow .progress-right .progress-bar {
    animation: loading-3 1.8s linear forwards
  }
  
  .progress.yellow .progress-left .progress-bar {
    animation: none
  }
  .progress.red .progress-bar {
    border-color: #ff0404
  }
  
  .progress.red .progress-left .progress-bar {
    animation: loading-4 1.5s linear forwards 1.7s
  }
  .progress.green .progress-bar {
    border-color: #68dd0781
  }
  
  .progress.green .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards 
  }
  
  @keyframes loading-1 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
  
    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg)
    }
  }
  
  @keyframes loading-2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
  
    100% {
        -webkit-transform: rotate(72deg);
        transform: rotate(72deg)
    }
  }
  
  @keyframes loading-3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
  
    100% {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg)
    }
  }
  
  @keyframes loading-4 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
  
    100% {
        -webkit-transform: rotate(1.8deg);
        transform: rotate(1.8deg)
    }
  }
  @keyframes loading-5 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
  
    100% {
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg)
    }
  }



  .sm{
    position: fixed;
    width: 70px;
    margin-top: 150px;
    transition: all 0.3s linear;
    box-shadow: 2px 2px 8px 0px rgba(0,0,0,.4);
  }
  nav li{
    height: 60px;
    position:relative;
  }
  nav li a{
    color: white;
    display: block;
    height: 100%;
    width: 100%;
    line-height: 60px;
    padding-left:25%;
    border-bottom: 1px solid rgba(0,0,0,.4);
    transition: all .3s linear;
  }
  nav li:nth-child(1) a{
    background: #4267B2;
  }
  nav li:nth-child(2) a{
    background: #1DA1F2;
  }
  nav li:nth-child(3) a{
    background: #E1306C;
  }
  nav li:nth-child(4) a{
    background: #2867B2;
  }
  nav li:nth-child(5) a{
    background: #333;
  }
  nav li:nth-child(6) a{
    background: #ff0000;
  }
  nav li a i{
    position:absolute;
    top: 17px;
    left: 20px;
    font-size: 27px;
  }
  ul li a span{
    display: none;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .here.a:hover {
    z-index:1;
    width: 200px;
    border-bottom: 1px solid rgba(0,0,0,.5);
    box-shadow: 0 0 1px 1px rgba(0,0,0,.3);
  }
  .here.ul li:hover a span{
    padding-left: 30%;
    display: block;
  }
  
  
  
  
  
  